<p>Add a new CD:</p>

<form action="/cds" method="post">
  <label for="name">CD Title:</label>
  <input id="name" name="name" type="text">

  <button type="submit" class="btn btn-default">Add task</button>
</form>
<a href="/cds/new">Add New CD</a>|<a href="/artists/new">Add New Artist</a>|<a href="/cds">All CDs</a>|<a href="/artists">All Artist</a>
